StackExchange.Redis.WordSearch/obj/
StackExchange.Redis.WordSearch.Test/obj/
StackExchange.Redis.WordSearch.Test/AppSettings.cs
StackExchange.Redis.WordSearch.Test/bin/
StackExchange.Redis.WordSearch/bin/
.vs/RedisWordSearch/v15/sqlite3/storage.ide
